/* header css 시작 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header css 끝 */

.filter, .data {
    margin: 1rem;
}

#memberList {
    padding: 0;
}

.member-item, .represent-list {
    list-style: none;
    background-color: #CEDF9F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-item span, .represent-list span {
    text-align: center;
}

.name, .englishName {
    color: #333;
    font-weight: bold;
    width: 15%;
}

.github {
    color: #007bff;
    width: 20%;
}

.gender, .role, .firstWeekGroup, .secondWeekGroup {
    color: #6c757d;
    width: 10%;
}

.represent-list {
    border-bottom: 0.5rem solid black;
}